.metadata
Servers

Employee/.settings
Employee/build
Employee/.classpath
Employee/.project

AceBuddy/.settings
AceBuddy/build
AceBuddy/.classpath
AceBuddy/.project

Employe_C/.settings
Employe_C/build
Employe_C/.classpath
Employe_C/.project

GOGLU_Tech_Interview_Assistant/.settings
GOGLU_Tech_Interview_Assistant/build
GOGLU_Tech_Interview_Assistant/.classpath
GOGLU_Tech_Interview_Assistant/.project

ServletDemo/.settings
ServletDemo/build
ServletDemo/.classpath
ServletDemo/.project

SearchEngine/.settings
SearchEngine/build
SearchEngine/.classpath
SearchEngine/.project
